# Auto detect text files and perform LF normalization
* text=auto

.gitattributes export-ignore
.gitignore export-ignore
composer.json export-ignore
composer.lock export-ignore
/.git export-ignore
/docs export-ignore
/tests export-ignore
